<!DOCTYPE html>
<html>
<head>
    <title>SRMS System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>SRMS</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/register-form">Register Student</a>
    <a href="/students">View Students</a>

</div>

<div class="main">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
<a href="/logout">Logout</a>